
{% extends "index/base.html" %}


{% load static %}

{% block content %}
	 <style type="text/css">
		.img-fluid{
			float: right;
		}
	</style>
	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
	    <div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="col-lg-5">
						<h3>Stay motivated and protected day by day!</h3>
						<p>People often say that motivation doesn't last. Well, neither does bathing - that is why we recommend it daily.</p>
						<a class="white_bg_btn" href="/sign-up">Sign up</a>
					</div>
					<div class="col-lg-7">
						<div class="halemet_img">
							<img src="{% static 'index/img/banner/protection.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
	    </div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Feature Product Area =================-->
	<section class="feature_product_area">
		<div class="main_box">
			<div class="container">
				<br><br><br>
				<div class="row hot_product_inner">
					<div class="col-lg-6">
						<div class="hot_p_item">
							<img class="img-fluid" src="{% static 'index/img/product/hot-product/hot-p-1.png' %}" alt="">
							<div class="product_text">
								<h4>Lover of the <br />Dopest Jokes?</h4>
								<a href="/sign-up">Join Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="hot_p_item">
							<img class="img-fluid" src="{% static 'index/img/product/hot-product/hot-p-2.png' %}" alt="">
							<div class="product_text">
								<h4>Die hard fan <br />of Quotes?</h4>
								<a href="/sign-up">Join Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="feature_product_inner">
					<div class="main_title">
						<h2>One of a Kind</h2>
						<p>Mind blowing.</p>
					</div>
					<div class="feature_p_slider owl-carousel">
						{% if Oneofakind %}
							{% for sel in Oneofakind %}
								<div class="item">
									<div class="f_p_item">
										<div class="f_p_img post_height" style="background: url('static/index/img/background/{{sel.post.background}}');">
											<h4 style="color: white;">{{sel.post.postType}}</h4>
											<h4 style="color: white;">{{sel.post.body}}</h4>
											<!-- 
											<div class="p_icon">
												<a href="#"><i class="lnr lnr-heart"></i></a>
												<a href="#"><i class="lnr lnr-cart"></i></a> -->
												<!-- <a href="#" id="heartbreak"><i class="fa fa-heart fa-stack-1x"></i><i class="fa fa-bolt fa-stack-1x fa-inverse"></i></a>
											</div> -->
										</div>
										<a href="#"><h4>By {{sel.post.user.username}}</h4></a><!-- 
										<h5> <strong><i class="lnr lnr-heart"></i> 1000</strong> </h5> -->
									</div>
								</div>
							{% endfor %}
							<h4></h4>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Feature Product Area =================-->

	<!-- displays If visit is a registed user -->
	<!--================Feature Product Area =================-->
	<section class="feature_product_area">
		<div class="main_box">
			<div class="container">
				<div class="row hot_product_inner">
					<div class="col-lg-6">
						<div class="hot_p_item">
							<img class="img-fluid" src="{% static 'index/img/product/hot-product/motivation.jpg' %}" alt="">
							<div class="product_text">
								<h4>Do you Crave <br />for Motivations?</h4>
								<a href="/sign-up">Join Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="hot_p_item">
							<img class="img-fluid" src="{% static 'index/img/product/hot-product/puzzle.jpg' %}" alt="">
							<div class="product_text">
								<h4>Are you a Puzzle <br />Lover?</h4>
								<a href="/sign-up">Join Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="feature_product_inner">
					<div class="main_title">
						<h2>Selection of the day.</h2>
						<p>Mind blowing.</p>
					</div>
					<div class="feature_p_slider owl-carousel">
						{% if Selectionoftheday %}
							{% for selected in Selectionoftheday %}
								<div class="item">
									<div class="f_p_item">
										<div class="f_p_img post_height" style="background: url('static/index/img/background/{{selected.post.background}}');">
											<h4 style="color: white;">{{selected.post.postType}}</h4>

											<h4 style="color: white;">{{selected.post.body}}</h4>
											<!-- <div class="p_icon">
												<a href="#"><i class="lnr lnr-heart"></i></a>
												<a href="#"><i class="lnr lnr-cart"></i></a>
												<a href="#" id="heartbreak"><i class="fa fa-heart fa-stack-1x"></i><i class="fa fa-bolt fa-stack-1x fa-inverse"></i></a>
											</div> -->
										</div>
										<a href="#"><h4>By {{selected.post.user.username}}</h4></a>
										<!-- <h5> <strong><i class="lnr lnr-heart"></i> 1000</strong> </h5> -->
									</div>
								</div>
							{% endfor %}
							<h4></h4>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Feature Product Area =================-->


{% endblock %}
