{% extends "index/base.html" %}


{% load static %}

{% block content %}
	<!--================Home Banner Area =================-->
	<section class="banner_area">
	    <div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>Home/Register</h2>
					<div class="page_link">
						<a href="/">Home</a>
						<a href="/sign-up">Register</a>
					</div>
				</div>
			</div>
	    </div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Login Box Area =================-->
	<section class="login_box_area p_120">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static '/img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>Hate being in a non-creative place?</h4>
							<p>This is the best place for you to be.</p>

							<h4>Already a member?</h4>
							<a class="main_btn" href="/sign-in">Login</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner reg_form">
						<h3>Create an Account</h3>
						<form class="row login_form" action="" method="post" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="username" placeholder="Username" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="first_name" placeholder="First Name" required>
							</div>
	                        <div class="col-md-12 form-group">
	                            <input type="text" class="form-control" id="name" name="last_name" placeholder="Last Name" required>
	                        </div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
							</div>
	                        <!-- <div class="col-md-12 form-group">
	                            <input type="text" class="form-control" id="name" name="phoneNum" placeholder="Phone Number" required>
	                        </div> -->
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="pass" name="password2" placeholder="Confirm password" required>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<input type="submit" value="Register" class="btn submit_btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!--================ start footer Area  =================-->	
{% endblock %}
	<!--================ End footer Area  =================-->
